<div class="app-toolbar">
    {{#paper-toolbar}}
        {{#paper-toolbar-tools class="app-toolbar-tools"}}
            {{#link-to "index" class="app-name-link"}}
                <h2>ToPlayList</h2>
            {{/link-to}}
            <span class="flex"></span>
            {{#paper-button iconButton=true}}
                {{paper-icon "sort"}}
            {{/paper-button}}
            {{overflow-menu signOut=(action signOut)}}
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
</div>
