{{#paper-toolbar class="layout-row layout-align-center"}}
    {{#paper-toolbar-tools class="app-toolbar-tools flex-gt-sm-60"}}
        {{#link-to "index" class="app-name-link"}}
            <h2>ToPlayList</h2>
        {{/link-to}}
        {{search-bar-games class="flex" searchGames=(action searchGames) showGame=(action showGame)}}
        {{overflow-menu signOut=(action signOut)}}
    {{/paper-toolbar-tools}}
{{/paper-toolbar}}
