<div class="game-card layout-row flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}} 
        {{card.image size="sm" src=game.image alt=game.title title=game.title}} 
        {{#card.title as |title|}}
            {{#title.text as |text|}}
                {{#text.headline}}{{game.title}}{{/text.headline}}
            {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
            {{#paper-button iconButton=true}}{{paper-icon "done"}}{{/paper-button}}
            {{#paper-button iconButton=true}}{{paper-icon "delete"}}{{/paper-button}}
        {{/card.actions}}
    {{/paper-card}}
</div>