@import 'ember-paper';

@mixin center() {
    width: 66%;
    margin: 0 auto;
}

@mixin elevate() {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #E0E0E0;
}

.app-body {
    @include center();
}

.app-toolbar {
    @include elevate();

    .app-toolbar-tools {
        @include center();
    }
}

.game-card {
    .md-card-image {
        height: 250px;
        width: auto;
    }
}

.games {
    @include elevate();
    margin-top: 32px;
}