<div>
    {{app-toolbar signOut=(action "signOut") 
        searchGames=(perform searchGamesTask)
        showGame=(action "showGame")}}
    <div class="layout-row layout-align-center">
        {{#paper-content class="app-body flex-gt-sm-60"}}
            {{outlet}}
        {{/paper-content}}
    </div>
</div>