{{app-toolbar signOut=(action "signOut") 
    searchGames=(perform searchGamesTask)
    showGame=(action "showGame")}}
{{#paper-sidenav-container class="app-container layout-row layout-align-space-between"}}
    {{#paper-sidenav name="sidenav" class="app-sidenav flex-gt-sm-15"}}
        {{#paper-content padding=true}}
            All Games
        {{/paper-content}}
    {{/paper-sidenav}}

    {{#paper-content class="app-body flex-gt-sm-65"}}
        {{outlet}}
    {{/paper-content}}

    <div class="flex-gt-sm-15"></div>
{{/paper-sidenav-container}}
