<div>
    {{app-toolbar class="app-toolbar" signOut=(action "signOut") 
        searchGames=(perform searchGamesTask)
        showGame=(action "showGame")}}
    {{#paper-content class="app-body flex"}}
        {{outlet}}
    {{/paper-content}}
</div>