<div class="games layout-row layout-wrap">
    {{#each model as |gameUnit|}}
        {{game-card class="flex-gt-md-20 flex-gt-sm-33 flex-50" game=gameUnit markDone=(action "markDone")}}
    {{/each}}
</div>
